.cabecalho {
    align-items: center;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

@media all and (max-width: 480px) {
    .cabecalho {
        display: block;
        margin-top: 2rem;
    }
}