.rodape {
    background: #bfbfbf;
    color: #fdfdfd;
    padding: 1.5625rem 5rem;
    text-align: right;
    text-transform: lowercase;
}

@media all and (max-width: 480px) {
    .rodape {
        text-align: center;
    }
}