.receita {
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    margin-bottom: 2rem;
    width: calc(25% - 5rem);
}

@media all and (max-width: 480px) {
    .receita {
        margin-right: 1px;
        width: 100%;
    }
}